.review {
    /* width: 400px;
    height: 520px; */
    /* border: 1px solid #95A0A7; */
    margin: 100px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px;
}

.show-btn {
    text-align: center;
    padding: 10px 12px;
    margin: 0 auto;

}

@media screen and (max-width: 720px) {
    .review {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 34px;
        margin: 25%;
    }
}